* {
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #1E1E1E;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    body {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    body {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .hide {
        display: none;
    }

    #title {
        font-size: 50px;
    }
}

@media screen and (min-width: 800px) {
    #title {
        font-size: 100px;
    }
}

#board {
    border-top: 1px solid #404040;
}

#title {
    margin: 30px 0 30px 0;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

.white {
    color: #EEE;
}

.orange-back {
    border-radius: 1vw;
    padding: 0 1vw 0 1vw;
    color: black;
    background-color: #FF9900;
}

.badge-width {
    flex: 0 0 350px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.flex-item {
    flex: 1 1 50px;
}

.rank {
    flex: 0 0 35px;
    color: #777;
    font-family: Courier;
    text-align: center;
    margin-right: 15px;
}

.medal {
    height: 30px;
    vertical-align: middle;
}

.medal-1 {
    filter: brightness(0) saturate(100%) invert(68%) sepia(91%)
        saturate(1219%) hue-rotate(2deg) brightness(105%) contrast(99%);
}

.medal-2 {
    filter: brightness(0) saturate(100%) invert(93%) sepia(0%)
        saturate(495%) hue-rotate(154deg) brightness(111%) contrast(69%);
}

.medal-3 {
    filter: brightness(0) saturate(100%) invert(47%) sepia(87%)
        saturate(391%) hue-rotate(349deg) brightness(98%) contrast(90%);
}

.column {
    flex-direction: row;
    padding: 0 25px 0 25px;
    background-color: #1E1E1E;
    border-bottom: 1px solid #404040;
}

.vert-center {
    align-items: center;
}

.vert-flex {
    flex-direction: column;
}

.badge {
    height: 35px;
}

.inner {
    color: #D4D4D4;
    font-family: Courier;
    font-size: 20px;
    letter-spacing: 1px;
}
